@font-face {
    font-family:iransans;
    src: url(/src/assets/css/fonts/FontsFree-Net-ir_sans.ttf);
}
@font-face {
    font-family:inter;
    src: url(/src/assets/css/fonts/Inter.ttf);
}
*{
    font-family: 'iransans';
}